<div class="container ">
    <h1 >User Login</h1>
    <form method="post" action="/login">
    <div class="form-group">
        <h4>Enter your name</h4>
        <input  id="inputLogin" class="form-control" style="max-width: 40%;" type='text' placeholder='User name' name='username' />
        <button id="btnLogin" class="btn btn-primary mt-2" type="submit">Login</button>
        </div>
    </form>
</div>
