<div class="d-flex flex-column justify-content-center align-items-center mt-4 bg-danger" style="padding: 40px;">
    <h1 style="color: aliceblue;">USER ERROR REGISTER </h1>
    <h3>{{Error}}</h3>
    <a href='/login' class="btn btn-warning" style="font-weight: bolder;">GO BACK TO LOGIN</a>
</div>