<div class="d-flex flex-column justify-content-center align-items-center mt-4 bg-danger" style="padding: 40px;">
    <h1 style="color: aliceblue;">USER ERROR LOGIN</h1>
    <h4 style="color: aliceblue;">User or password incorrect</h4>
    <a href='/login'class="btn btn-warning" style="font-weight: bold;">GO BACK TO LOGIN</a>
</div>