<div class="container bg-dark-subtle mt-3" style="padding: 20px;">
    <h1 style="color: blue" >User Login</h1>
    <form method="post" action="/login">
    <div class="form-group">
        <input class="form-control" type='text' placeholder='Email' name='email' required />
        <input class="form-control" type='Password' placeholder='Password' name='password' required /> <br>
        <button id="btnLogin" class="btn btn-success mt-2" type="submit">Login</button>
        </div>
    </form>
    <a  class="btn btn-success mt-2" href="/register">Create new account</a>
</div>
