<div class="container d-flex flex-column justify-content-center align-items-center mt-4 bg-dark-subtle">
   
    <h1 id="byeUser">See you later {{data.username}}</h1>
    
 <script>
        setTimeout(() => { window.location.href = "/" }, 2000);
    </script>
</div>

